/* Default style sheet */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	padding: 1em;
	background-color: #006db2;
	color: white;
}

#header h1 {
	font-size: 120%;
	text-align: center;
}

#content {
	padding: 1em;
}

#content * {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#content p {
	text-align: justify;
}

#content p.formButtons {
	text-align: center;
}

#header form.userPanel {
	text-align: right;
}

#content table {
	border-collapse: collapse;
}

#content table td, table th {
	border: 1px solid #006db2;
	padding: 0.3em 0.5em;
	text-align: right;
}

#footer {
	padding: 0.5em;
	background-color: #006db2;
	border-top: 1px solid black;
	text-align: right;
	font-size: 75%;
	color: white;
}

#header a {
	color: white;
}

#header a:hover {
	color: #309de2;
}

a {
	color: #006db2;
}

a:hover {
	color: #309de2;
}

input.rf-au-inp {
	vertical-align: baseline !important;
	paddnig: 2px !important;
}

.noborder td {
	border: none !important;
}

#content .warning {
	text-align: center !important;
	font-weight: bold;
}